@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Category</h2>
<h1>Are You Sure  You Want to Delete this Category ?</h1>
<form method="post">
    <input type="hidden" name="ID" value="@Model.ID" />
    <button type="submit">Save</button>
</form>
<a href="/index"> Cancel </a>